<nav id="navbar" class="w3-bar" style="overflow: visible">
    <a href="./" class="w3-bar-item">
        <img src="img/rubiks-cube.png" width="60" height="60"/>
    </a>
    <div class="w3-bar-item" style="position: relative; margin-top: 12px; width: 300px; left: 100px">
        <input type="search" style="position: absolute; height: 40px" oninput="search(this.value)" class="w3-input" placeholder="Suche.."/>
        <div id="search-container" class="w3-border w3-green" style="display: none; position: absolute; top: 50px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px">
        </div>
    </div>

    <a href="login" class="w3-margin w3-right w3-bar-item">
        <i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>
    </a>
    <a href="cart" class="w3-margin w3-right w3-bar-item">
        <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
    </a>
    <script>
        function search(searchTerm) {
          if (searchTerm === '') return $('#search-container').hide();

          $.get(`/shop/products/search/${searchTerm}`).then((res) => {
            $('#search-container').empty();

            res.forEach((product) => {
              const link = document.createElement('a');
              link.href = `/shop/product/${product.id}`;
              link.classList.add('w3-border');
              link.classList.add('search-item');

              const image = document.createElement('img');
              image.src = `/shop/${product.coverImagePath}`;
              image.width = '60';

              const span = document.createElement('span');
              span.style.marginLeft = '12px';
              span.innerText = product.name;

              link.appendChild(image);
              link.appendChild(span);

              $('#search-container').append(link);
            })

            if (res.length > 0) {
              $('#search-container').show();
            } else {
              $('#search-container').hide();
            }
          })
        }
    </script>
</nav>
