<footer id="footer" class="w3-bar">
    <div class="w3-bar-block w3-bar-item" style="width: 400px">
        <h4>Bei Fragen kontaktieren Sie uns unter:</h4>
        <ul class="w3-ul">
            <li>Email: support@neuergameshop.de</li>
            <li>Telefon: 07021 / 243562134</li>
            <li>Kontaktformular?</li>
        </ul>
    </div>
    <div class="w3-bar-block w3-bar-item" style="width: 300px">
        <h4>Unternehmen</h4>
        <ul class="w3-ul">
            <li>Impressum</li>
            <li>Datenschutz</li>
            <li>AGB</li>
        </ul>
    </div>
    <div class="w3-bar-block w3-bar-item" style="width: 300px">
        <h4>Services</h4>
        <ul class="w3-ul">
            <li>Versand</li>
            <li>Zahlungsarten</li>
            <li>Gutscheine</li>
            <li>Support</li>
            <li>FAQ</li>
        </ul>
    </div>
</footer>
