<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head th:replace="shop/fragments/head"/>

    <body>
        <nav th:replace="shop/fragments/navbar"/>

        <main class="w3-bar">
            <aside id="sidebar" class="w3-bar-item">
                <h3 class="w3-padding">Kategorien</h3>
                <ul class="w3-padding w3-ul">
                    <li><a th:href="@{./(genre=all)}">Alle Spiele</a></li>
                    <li><a th:href="@{./(genre=action)}">Action</a></li>
                    <li><a th:href="@{./(genre=adventure)}">Adventure</a></li>
                    <li><a th:href="@{./(genre=jumpAndRun)}">Jump & Run</a></li>
                    <li><a th:href="@{./(genre=strategy)}">Strategie</a></li>
                </ul>
            </aside>
            <div id="content" class="w3-bar-item w3-bar">
                <div class="center-container" style="margin-left: auto; margin-right: auto; width: 100%">
                    <a th:href="@{|product/${product.id}|}" th:each="product : ${products}" class="w3-bar-item w3-card w3-padding w3-margin" style="width: 300px; min-height: 400px; text-decoration: none">
                        <img th:src="${product.coverImagePath}" class="w3-image"/>
                        <div class="product-short-details">
                            <p th:text="${product.name}"></p>
                            <p th:text="${product.shortDescription}"></p>
                            <form method="post" th:action="@{cart(productId=${product.id})}" title="Dem Warenkorb hinzufügen" class="w3-right">
                                <button class="w3-badge w3-padding w3-light-green w3-hover-green" type="submit" style="transition: color 0.3s; cursor: pointer;"><i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </a>
                </div>
            </div>
        </main>

        <footer th:replace="shop/fragments/footer"/>
    </body>
</html>
